<a href="/catalog/<%= card.id %>" class="card" data-thickness="thickness<%= card.thickness %>" data-material="<%= card.material %>">
    <img src="../public/assets/images/cards/<%= card.img_src %>" alt="<%= card.title %>" class="card__image" />
    <h3 class="card__title"><%= card.title %></h3>
    <ul class="card__spec">
        <% card.spec.split('; ').forEach(item => { %>
            <li class="card__spec-item"><%= item %></li>
        <% }); %>
    </ul>
    <% card.price.split('; ').forEach(price => { %>
        <b class="card__price"><%- price %></b>
    <% }); %>

    <button class="button button_primary">К товару</button>
</a>
