<div class="col-auto card p-0" style="width: 500px">
    <div class="<%= card.is_popular ? 'bg-warning' : 'bg-light' %> rounded h-100 p-4">
        <img class="card-img-top mb-4" src="../../../public/assets/images/cards/<%= card.img_src %>">
        <h6 class="mb-4"><%= card.title %></h6>
        <nav>
            <div class="nav nav-tabs">
                <button class="nav-link active" data-bs-toggle="tab"
                        data-bs-target="#nav-main-<%= card.id %>" type="button" aria-controls="nav-main-<%= card.id %>"
                        aria-selected="true">Основное</button>
                <button class="nav-link" data-bs-toggle="tab"
                        data-bs-target="#nav-attrs-<%= card.id %>" type="button"
                        aria-controls="nav-attrs-<%= card.id %>" aria-selected="false">Атрибуты</button>
                <button class="nav-link" data-bs-toggle="tab"
                        data-bs-target="#nav-desc-<%= card.id %>" type="button"
                        aria-controls="nav-desc-<%= card.id %>" aria-selected="false">Описание</button>
            </div>
        </nav>
        <div class="tab-content pt-3 mb-4">
            <div class="tab-pane fade show active" id="nav-main-<%= card.id %>">
                <ul class="card__spec">
                    <% card.spec.split('; ').forEach(item => { %>
                        <li><%= item %></li>
                    <% }); %>
                </ul>
                <% card.price.split('; ').forEach(price => { %>
                    <b><%- price %></b>
                <% }); %>
            </div>
            <div class="tab-pane fade" id="nav-attrs-<%= card.id %>">
                <ul>
                    <li>Материал (указывается для работы фильтров):
                        <b><%= card.material %></b>
                    </li>
                    <li>Толщина (указывается для работы фильтров. Может не совпадать с той, что указана в описании):
                        <b><%= card.thickness %></b>
                    </li>
                    <li>Название изображения (в папке <i>/public/assets/images/cards</i>):
                        <b><%= card.img_src %></b>
                    </li>
                    <li>Показывается на главной (максимум 4 товара):
                        <b><%= card.is_popular ? 'Да' : 'Нет' %></b>
                    </li>
                </ul>

            </div>
            <div class="tab-pane fade" id="nav-desc-<%= card.id %>">
                <p><%= card.full_desc ? card.full_desc : 'Нет описания' %></p>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="/admin-panel/card-list/<%= card.id %>" class="btn me-4 <%= card.is_popular ? 'btn-info' : 'btn-warning' %>" style="width: 160px">Редактировать</a>
            <button class="btn btn-danger" data-delete="<%= card.id %>" style="width: 160px">Удалить</button>
        </div>
    </div>
</div>
