<tr>
    <td><%= head.admin_desc %></td>
    <td><%= head.title %></td>
    <td><%= head.keywords %></td>
    <td><%= head.description %></td>
    <td><%= head.analytics ? 'Есть' : 'Нет' %></td>
    <td><a class="btn btn-sm btn-warning" href="">Редактировать</a></td>
</tr>
