<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head') %>

  <body class="page">
    <%- include('./partials/header', {page: 'catalog'}) %>

    <main class="page__main">
      <%- include('./partials/breadcrumbs', {crumbs: [{name: 'Каталог', link: '#'}]}) %>

      <section class="catalog">
        <div class="container">
          <h1 class="catalog__title">Каталог</h1>
          <div class="catalog__wrapper">
            <div class="mobile-filter">
              <div class="mobile-filter__fade"></div>
              <div class="mobile-filter__icon"></div>
            </div>
            <form class="catalog__filter filter">

              <fieldset class="filter__field filter__field_material">
                <legend class="filter__title filter__title_material">Материал:</legend>

                <% [{name: 'fanera', label: 'Фанера'},
                    {name: 'dvp', label: 'ДВП'},
                    {name: 'dsp', label: 'ДСП'},
                    {name: 'osb', label: 'OSB'}].forEach(item => { %>
                  <%- include('./partials/filter-mat-item', {item})%>
                <% }); %>

              </fieldset>

              <fieldset class="filter__field filter__field_thickness">
                <legend class="filter__title filter__title_thickness">Толщина:</legend>
                <div class="filter__group">

                  <% thickness.forEach(thick => { %>
                    <%- include('./partials/filter-thick-item', {thick})%>
                  <% }); %>

                </div>
              </fieldset>
              <button class="button button_secondary button_show-results">Показать</button>
            </form>
            <div class="catalog__content">

              <% cards.forEach(card => { %>
                <%- include('./partials/card', {card})%>
              <% }); %>

            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <%- include('./partials/popup') %>

    <div class="popup-fade"></div>

    <script src="../public/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
