<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head') %>

  <body class="page">
    <%- include('./partials/header', {page: 'index'}) %>

    <main class="page__main">
      <section class="start-screen">
        <div class="container">
          <div class="menu-fade"></div>
          <div class="start-screen__wrapper">
            <div class="start-screen__content">
              <h1 class="start-screen__title">osb.by - Продажа древесных плит (Фанера, ДСП, ДВП, OSB)</h1>
              <p class="start-screen__text">
                Фирма OSB это современная организация<br />
                с многолетним опытом в сфере продажи стройматериалов
              </p>
              <a href="about" class="button button_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </section>

      <section class="popular-items">
        <div class="container">
          <h2 class="popular-items__title section-title">Популярные товары</h2>
          <div class="popular-items__outer-wrapper">
            <button class="button button_popular-mobile button_popular-mobile-left" disabled></button>
            <button class="button button_popular-mobile button_popular-mobile-right"></button>
            <div class="popular-items__wrapper">
              <div class="card" data-thickness="thickness3" data-material="fanera">
                <img src="../public/assets/images/cards/fanera3-4mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 3 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >20 -30 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness6" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 6 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >26 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">35 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="dsp">
                <img src="../public/assets/images/cards/dsp12mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
            </div>
          </div>
          <a href="catalog" class="button button_secondary catalog-button">Перейти а каталог</a>
        </div>
      </section>

      <section class="advantages">
        <div class="container">
          <h2 class="advantages__title section-title">Наши преимущества</h2>
          <ul class="advantages__wrapper">
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle sales">Продаём в розницу и оптом!</h3>
              <p class="advantages__text visually-hidden">
                Не важно, заказываете вы 100 листов или 1 — качество обслуживания и сроки поставки неизменно останутся
                на высоком уровне. При заказе больших объемов может понадобиться несколько дней для подбора материала, в
                то время как доставка небольших заказов обычно осуществляется в течение одного дня.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle delivery">Доставим в другой город или на 19 этаж!</h3>
              <p class="advantages__text visually-hidden">
                Мы не отказываемся даже от самых сложных по логистике заказов, а наличие транспорта разной
                грузоподъёмности позволяет гибко подходить к расценкам на перевозку. При заказе не забудьте уточнить у
                менеджеров принимающих заказ условия доставки (этажность, наличие лифта или способ разгрузки)
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle saw-cut">Напилим куски нужного размера!</h3>
              <p class="advantages__text visually-hidden">
                Зачем носить и доставлять большие листы, если в итоге вам нужно будет их распилить? Вы можете заказать
                уже напиленый под ваши размеры материал, тем самым сберечь свое время, а иногда и сэкономить на
                доставке. Наличие на складе современного оборудования позволяет достичь погрешности реза не более 1.5 мм
                без учёта длины фрагмента.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle credit">Бери сейчас, плати потом!</h3>
              <p class="advantages__text visually-hidden">
                Мы предоставляем рассрочку на крупные заказы. Благодаря программе Беларусбанка
                <a class="advantages__link" href="https://most.belarusbank.by/">"Мост"</a> вы можете получить рассрочку
                на выбранный вами заказ. Подробности уточняйте у менеджеров.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle reviews">Ни одного плохого отзыва!</h3>
              <p class="advantages__text visually-hidden">
                За долгие годы работы благодаря мягкому подходу к решению любых спорных ситуаций мы наработали большую
                базу постоянных клиентов, одним из которых можете стать и Вы! Отзывы о компании можете почитать
                <a class="advantages__link" href="#">тут</a>.
              </p>
            </li>
          </ul>
        </div>
      </section>

      <section class="our-firm">
        <div class="container">
          <h2 class="our-firm__title section-title">Наши товары</h2>
          <div class="slider">
            <% ['dvp2-slide.jpeg', 'dvp-slide.jpeg', 'fanera-slide.jpeg', 'osb-slide.jpeg'].forEach(img => { %>
              <%- include('partials/slider-item', {img}) %>
            <% }); %>
          </div>
        </div>
      </section>

      <section class="questions">
        <div class="container">
          <h2 class="questions__title section-title">Хотите оставить заявку или нужна консультация?</h2>
          <form class="questions__form" id="questions-form">
            <div class="input-wrapper">
              <label style="display: none" for="questions-name">Ваше имя:</label>
              <input class="questions__name" id="questions-name" type="text" name="name" placeholder="Ваше имя" required />
            </div>
            <div class="input-wrapper">
              <label style="display: none" for="questions-phone">Ваш телефон:</label>
              <input class="questions__phone" id="questions-phone" type="text" name="phone" placeholder="Ваш телефон" required />
            </div>
            <label style="display: none" for="questions-mail">Ваше email:</label>
            <input class="questions__mail" id="questions-mail" type="email" name="email" placeholder="Ваш e-mail" />
            <label style="display: none" for="questions-text">Ваше сообщение:</label>
            <input class="questions__text" id="questions-text" type="text" name="message" placeholder="Сообщение " />
            <button class="button button_secondary" type="submit">Отправить</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <%- include('./partials/popup') %>

    <div class="popup-fade"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
